@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Raleway:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Open Sans';
}
h1,h2, h3{
    font-family: 'Raleway', 'Open Sans';
    font-size: 2.2em;
    color: hsl(243, 87%, 12%);
}
p{
    color: hsl(243, 87%, 12%);
}
.wrapper{
    max-width: 100%;
    width: 1440px;
    padding: 20px;
    margin: 0 auto;
}
img{
    max-width: 100%;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.flex > div{
    flex: 1;
}
header{
    margin-bottom: 200px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}
nav ul{
    display: flex;
    list-style-type: none;
    padding: 0;
}
nav ul li{
    margin-left: 30px;
}
nav ul li a{
    text-decoration: none;
    color: hsl(243, 87%, 12%);
}
button{
    border: 1px solid  hsl(224, 93%, 58%);
    background-color: hsl(224, 93%, 58%);
    padding: 10px 60px;
    border-radius: 2px;
    color: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.hd-input{
    width: 50%;
    height: 37px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
.hd-p{
    font-size: 20px;
}
.stay-productive{
    background-color: #F8F8FE;
}
svg{
    max-width: 100%;
    width: 1440px;
    position: relative;
    bottom: 75px;
    z-index: -1;
    margin: 0;
    padding: 0;
}