@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Raleway:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Open Sans';
}
h1,h2, h3{
    font-family: 'Raleway', 'Open Sans';
    font-size: 2.2em;
    color: hsl(243, 87%, 12%);
}
p{
    color: hsl(243, 87%, 12%);
}
.wrapper{
    max-width: 100%;
    width: 1440px;
    padding: 20px;
    margin: 0 auto;
}
img{
    max-width: 100%;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.flex > div{
    flex: 1;
}
header{
    margin-bottom: 200px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}
nav ul{
    display: flex;
    list-style-type: none;
    padding: 0;
}
nav ul li{
    margin-left: 30px;
}
nav ul li a{
    text-decoration: none;
    color: hsl(243, 87%, 12%);
}
button{
    border: 1px solid  hsl(224, 93%, 58%);
    background-color: hsl(224, 93%, 58%);
    padding: 10px 60px;
    border-radius: 2px;
    color: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.hd-input{
    width: 50%;
    height: 37px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
.hd-p{
    font-size: 20px;
}
.stay-productive{
    background-color: #F8F8FE;
}
svg{
    max-width: 100%;
    width: 1440px;
    position: relative;
    bottom: 75px;
    z-index: -1;
    margin: 0;
    padding: 0;
}
p.productive{
    padding-right: 100px;
}
div.testimonies{
    background-color: #fff;
    padding: 20px;
    margin-top: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 450px;
    border-radius: 5px;
}
div.testimonies>p{
    font-size: 14px;
    line-height: 0.3in;
}
.ceo-info{
    display: flex;
    align-items: center;
}
.ceo-info img{
    border-radius: 50%;
    width: 62.5px;
    height: auto;
    margin-right: 10px;
}
.ceo-info h3{
    margin: 0;
}
#see-fylo{
    color: #3DA08F;
}
section.get-early-access{
    background-color: hsl(238, 22%, 44%);
}
section.get-early-access h2,
section.get-early-access p{
    color: #fff;
}
section.get-early-access input{
    border-radius: 2px;
    width: 400px;
    height: 37px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.get-early-access button{
    padding: 10px 40px;
}
.flex-access{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-access>div{
    padding-right: 170px;
}